variables:
  DB_NAME: hotel
  DB_USER: postgres
  DB_PASSWORD: Valeria89
  DB_HOST: db  # <-- здесь хост локального контейнера
  DB_PORT: 5432
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

stages:
  - test
  - build
  - deploy

test:
  stage: test
  tags:
    - powershell
  script:
    - python -m pip install --upgrade pip
    - pip install -r "$CI_PROJECT_DIR/requirements.txt"
    # Проверка доступности БД
    - powershell -Command "while(-not (Test-NetConnection -ComputerName $Env:DB_HOST -Port $Env:DB_PORT).TcpTestSucceeded){Write-Host 'Waiting for DB...'; Start-Sleep -Seconds 2}"
    - python "$CI_PROJECT_DIR/mysite/manage.py" migrate --noinput
    - python "$CI_PROJECT_DIR/mysite/manage.py" test
  artifacts:
    when: always
    reports:
      junit: report.xml
    paths:
      - report.xml

build:
  stage: build
  tags:
    - powershell
  script:
    - docker build -t practic_platform:latest .
  only:
    - main

deploy:
  stage: deploy
  tags:
    - powershell
  script:
    - docker rm -f practic_platform_web || true
    - docker run -d --name practic_platform_web --network practic_network --env DB_HOST=practic_db --env DB_PORT=5432 --env DB_NAME=hotel --env DB_USER=postgres --env DB_PASSWORD=Valeria89 practic_platform:latest
    - docker exec practic_platform_web python manage.py migrate --noinput
  when: manual
  only:
    - main
