variables:
  DB_NAME: hotel
  DB_USER: postgres
  DB_PASSWORD: Valeria89
  DB_HOST: practic_db  # <-- здесь хост локального контейнера
  DB_PORT: 5432
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

stages:
  - test
  - build
  - deploy

test:
  stage: test
  image: docker:20.10.24  # нужен Docker
  services:
    - docker:dind
  tags:
    - powershell
  script:
    - python -m pip install --upgrade pip
    - pip install -r "$CI_PROJECT_DIR/requirements.txt"
    # Проверка доступности БД
    - docker-compose run --rm web python manage.py test

build:
  stage: build
  tags:
    - powershell
  script:
    - docker build -t practic_platform:latest .
  only:
    - main

deploy:
  stage: deploy
  tags:
    - powershell
  script:
    # Останавливаем и удаляем старый контейнер (если был)
    - docker-compose -f docker-compose.yml down || true
    # Собираем образы и запускаем web (подключится к db автоматически через сеть docker-compose)
    - docker-compose -f docker-compose.yml up -d --build web
    # Делаем миграции внутри контейнера web
    - docker-compose -f docker-compose.yml exec web python manage.py migrate --noinput
  when: manual
  only:
    - main
